/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #9c27b0, #2196f3);
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: backgroundAnimation 20s infinite;
}

/* Main container */
.main {
    text-align: center;
}

/* Main text */
#main-text {
    font-size: 50px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: textAnimation 2s infinite alternate;
}

/* Buttons */
button {
    margin: 20px;
    padding: 15px 30px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 10px 20px rgba(255, 152, 0, 0.3);
}

button:hover {
    background-color: #ff5722;
}

/* Animation for text */
@keyframes textAnimation {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* Animation for background */
@keyframes backgroundAnimation {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}
